/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  font-family: 'Noto Sans';
}
.block {
  background: #ffdb4c;
  /*фон*/
  padding: 20px;
  /*отст*/
  color: #000;
  /*цв текста*/
  font-size: 32px;
  /*разм шрафта*/
  font-weight: bold;
  /**/
  text-align: center;
  /*направление текста*/
  margin-top: 30px;
  /*отступы м/у блоками*/
  margin-bottom: 30px;
  /* -/- */
}
.line {
  border-top: 1px solid #eaeff5;
  /*height: 1px; и так отображается */
}
.footer {
  background-color: #252525;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.logo {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}
.logo__name {
  font-size: 33px;
  /*шрифт mobile*/
  /*font-size: 38px; /*шрифт desktop*/
  line-height: 1.5;
  /*высота строки*/
  color: #000;
  /*цвет шрифта*/
  font-weight: 700;
  /*ширина шрифта*/
  letter-spacing: 5.5px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__name {
    font-size: 38px;
    letter-spacing: 7px;
  }
}
.logo__slogan {
  color: #a1bbd9;
  font-size: 14px;
  /*шрифт mobile*/
  /*font-size: 16px; /*шрифт desktop*/
  line-height: 1;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__slogan {
    font-size: 16px;
    letter-spacing: 9px;
  }
}
.navigation {
  background-color: #35577d;
  /*or background*/
  color: #fff;
  /*text color*/
  font-size: 14px;
  /*разм шрифта*/
  font-weight: 700;
  /*жЫрность шрифта, bold*/
  letter-spacing: 3px;
  /*расстояние м/у символами*/
  text-transform: uppercase;
  /*заглавные буквы*/
  /*height: 67px; /*высота блока*/
  /*padding-top: 23px; /*внутренний отступ сверху, не для маленьких экранов в этом случае*/
  /*padding-bottom: 23px; /*внутренний отступ снизу, не для маленьких экранов в этом случае*/
}
@media (min-width: 992px) {
  .navigation {
    /*цвет фона выпадающего меню, при размере медиум и больше*/
    background-color: #38383a;
    padding-top: 23px;
    /*внутренний отступ сверху*/
    padding-bottom: 23px;
    /*внутренний отступ снизу*/
  }
}
.navigation .navigation__toggle-button {
  display: block;
  /*отображаем при размере менее медиум*/
  position: relative;
  /*указываем родителя для иконки*/
  cursor: pointer;
  background-color: #38383a;
  /*цвет кнопки навигации, не нажатой, при размере менее медиум*/
  padding-top: 23px;
  /*внутренний отступ сверху*/
  padding-bottom: 23px;
  /*внутренний отступ снизу*/
  padding-left: 15px;
  /*внутренний отступ слева*/
  padding-right: 15px;
  /*внутренний отступ справа*/
}
.navigation .navigation__toggle-button:before {
  /*позиционируем иконку поверх меню*/
  content: "";
  position: absolute;
  top: 23px;
  /*позиционируем*/
  right: 15px;
  /*позиционируем*/
  width: 25px;
  /*берем размеры из инфо о файле*/
  height: 20px;
  /*берем размеры из инфо о файле*/
  background: url(../img/icons/navigation-icon.png);
  /*устанавливаем иконку*/
  background-repeat: no-repeat;
  /*запрещаем повторение*/
  /*background-position: right top; /*позиционируем*/
  background-position: 0 0;
  /*позиционируем*/
}
.navigation .navigation__toggle-button:focus,
.navigation .navigation__toggle-button:active {
  background-color: #16385f;
  /*цвет выпадающего меню навигации во время наведения и нажатия, при размере менее медиум*/
}
@media (min-width: 992px) {
  .navigation .navigation__toggle-button {
    display: none;
    /*скрываем при размере медиум и больее*/
  }
}
.navigation .navigation__toggle-button--active {
  /*интересно как так?*/
  background-color: #16385f;
}
.navigation ul {
  display: none;
  /*скрываем при размере менее медиум*/
  margin: 0;
  /*велич.отступа от кажд края элемента, внешний отступ*/
  padding: 0;
  /*велич. полей вокруг содержимого элемента, внутренний отступ*/
  list-style-type: none;
  /*убираем точки*/
  /*display: flex; /*выравниваем в строчку если не используем float: left;*/
  justify-content: space-between;
}
@media (min-width: 992px) {
  .navigation ul {
    display: flex;
    /*отображаем при размере медиум и больше. выравниваем в строчку если не используем float: left;*/
  }
}
.navigation li {
  margin: 0;
  padding: 0;
  /*float: left;  /*выравниваем в строчку*/
  border-bottom: 1px solid #466a92;
  /*разделительная линия м/у элементами списка при размере менее медиум*/
  /*padding-top: 23px; /*внутренний отступ сверху*/
  /*padding-bottom: 23px; /*внутренний отступ снизу*/
}
@media (min-width: 992px) {
  .navigation li {
    border-bottom: none;
    /*отменяем разделит.линию при размере медиум и больее*/
    padding: 0;
    /*отменяем отступы при размере медиум и больше*/
  }
}
.navigation li:active {
  color: #ffcc00;
  /* or a.active{color: #ffcc00;}*/
}
.navigation a {
  color: #FFF;
  text-decoration: none;
  /*underlining*/
  padding-top: 23px;
  /*внутренний отступ сверху*/
  padding-bottom: 23px;
  /*внутренний отступ снизу*/
  display: block;
  /*выстраиваем вертикально при размере менее медиум*/
  /*padding-left: 15px; /*внутренний отступ слева*/
  /*padding-right: 15px; /*внутренний отступ справа*/
}
.navigation a:hover,
.navigation a:active {
  color: #FFCC00;
  /* or li.active{color: #ffcc00;}*/
}
@media (min-width: 992px) {
  .navigation a {
    padding: 0;
    /*отменяем отступы при размере медиум и больее*/
    display: inline;
    /*выстраиваем горизонтально при размере медиум и больее*/
  }
}
.container--mobile--no-padding {
  width: 100%;
  /*padding-left: 0; /*внутренний отступ слева*/
  /*padding-right: 0; /*внутренний отступ справа*/
  /*@media (min-width: 1170px){
		width: 1170px;*/
}
@media (min-width: 992px) {
  .container--mobile--no-padding {
    width: 970px;
    /*padding-left: 15px; /*внутренний отступ слева*/
    /*padding-right: 15px; /*внутренний отступ справа*/
  }
}
.slider {
  background-color: #295489;
  padding-top: 100px;
  padding-bottom: 130px;
  background-image: url('../img/bg/slider.jpg');
  /*можно и без кавычек*/
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider__title {
  font-size: 28px;
  /**/
  line-height: 38px;
  /**/
  color: #FFF;
  /**/
  letter-spacing: -0.5px;
  /**/
  font-weight: 700;
  /**/
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 922px) {
  .slider__title {
    font-size: 32px;
    /**/
    line-height: 42px;
    /**/
  }
}
.slider__slogan {
  font-family: 'Noto Serif';
  font-size: 18px;
  /**/
  line-height: 28px;
  /**/
  color: #cddfe0;
  /**/
  text-align: center;
}
@media (min-width: 922px) {
  .slider__slogan {
    font-size: 22px;
    /**/
    line-height: 32px;
    /**/
  }
}
